asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==2.5
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
#en-core-web-sm==2.0.0
idna==2.8
#mkl-fft==1.0.10
#mkl-random==1.0.2
msgpack==0.6.1
msgpack-numpy==0.4.3.2
murmurhash==1.0.0
numpy==1.16.2
plac==0.9.6
preshed==2.0.1
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.1
wrapt==1.10.11
